* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1% 2%;
}


.header{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}

.main{
  display: flex;
  flex-direction: row;
  gap:5%;
} 


.aside__addmob  {
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 1%;
  
}

.aside__addmember{
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.display_area {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  gap: 2%;
}

.display_area>div{
  border: 1px solid black;

}
.hidden {
  display: none;
}


